<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header"><a class="navbar-brand">RdlReportViewer</a></div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#/RdlReportViewer">RdlReportViewer</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container" style="padding-top: 70px;">
    <div data-ui-view=""></div>
</div>